<!--Top Bar-->
<section id="topbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 topbar-base no-padding">
                <!--Top Bar Block-->
                <div class="col-sm-8 col-md-6 topbar-block left text-left">
                    <ul>
                        <li><i class="fa fa-clock-o"></i>Mon - Sat: 09.00 - 19.00</li>
                        <li><a href="tel:+789675978"><i class="fa fa-phone"></i>+(789) 675 978</a> </li>
                        <li><a href="mailto:support@industry.com"><i class="fa fa-envelope"></i>support@industry.com</a> </li>
                    </ul>
                </div>
                <!--Top Bar block-->
                <div class="col-sm-4 col-md-4 col-md-offset-2 topbar-block text-right">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                        <li><a href="#"><i class="fa fa-google-plus"></i> </a> </li>
                        <li><a href="#"><i class="fa fa-pinterest"></i> </a> </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
